<style>
    .clear{
        clear:both;
    }
    *{
           font-family: Georgia,Cambria,'Times New Roman',Times,serif; 
    }
</style>
<ol class="rounded-list" style="width: 100%; float:left;">
  
   
    <?php
    if(!empty($questions)){
        echo '<div class="info-box">
         <center><div class="info-box-text">We found articles with similar titles ,do you want to edit them instead ?</div></center>
    </div>';
foreach($questions as $question){ ?>
      
    <br class="clear">
        <?php
        //Create article anyway
        $title=preg_replace(array('/\s{2,}/', '/[\t\n]/'), ' ', $question['Question']['title']);
        echo"<li>". $this->Html->link($title, array('action' => 'edit',$question['Question']['slug']), array('class'=>'navbar-brand','escape' => false,)
        )."</li>";
        ?>
<?php }
echo '<br class="clear"><div class="ask-new btn  btn-always-blue right"><h6>Create speeli article anyway</h6></div>';
    }else{
        echo '<br class="clear"><div class="ask-new-trig check"></div>';
        echo '<br class="clear"><div class="ask-new btn  btn-always-blue right"><h6>Create speeli article</h6></div>';
    }
   echo $this->Html->css(array('lists'));
?>
</ol>
<br class="clear">
<script>
    $(document).ready(function(){
        var t=$('.check').hasClass( "ask-new-trig" );
       if(t){
        setTimeout(function() {
      $('.ask-new-trig').trigger('click');
}, 300);
       }  
        $('.ask-new').click(function(){
        var questitle = $('#Title').html();  
         
        questitle.replace(/ {2,}/g, '');
        questitle.replace('&nbsp;', '');
        $('.panel-article').html( questitle);  
            $('.flex-container').slideToggle();    
        $('.second-step').show();
        $('#QuestionTitle').val(questitle);    
        
            $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'articles', 'action' => 'get_cat')); ?>",
                data: {questitle: questitle}, // outer quotes removed
                cache: false,
                success: function (response, status) {
                    $('.get_cat').html(response);
                },
            });
    });
   /* $('.ask-new-trig').click(function(){
      var questitle = $('#Title').html();  
         
        questitle.replace(/ {2,}/g, '');
        questitle.replace('&nbsp;', '');
         $('.panel-article').html( questitle);  
               
        
        $('#QuestionTitle').val(questitle);  
            $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'articles', 'action' => 'get_cat')); ?>",
                data: {questitle: questitle}, // outer quotes removed
                cache: false,
                success: function (response, status) {
                    $('.get_cat').html(response);
                },
            });
    });*/
    });
  
</script>