<style>

    .hpanel p, .hpanel h4,.hpanel h2{
        border: 1px solid rgb(121, 199, 197);
    }
</style>
<?php if (isset($answers) && !empty($answers)) { ?>
    <?php
    $title=str_replace('&nbsp;',' ', $answers[0]['Question']['title']);
$title=str_replace('nbsp',' ', $title);
$title=str_replace('%',' ', $title);

$this->set("page_title", $title);

    if ($answers[0]['Question']['status'] == 0) {
        $this->set("meta_robots", "noindex");
    } else {
        $this->set("meta_robots", "index");
    }
    $this->set("description", $answers[0]['Question']['title']);
    ?>
    <div class="row">

        <?php echo $this->Form->create('Question', array("type" => 'file')); ?>
        <!-- Add the extra clearfix for only the required viewport -->
        <div  class="clearfix visible-xs-block"></div>
        <br class="clear"><br class="clear">

        <hr>
        <div class="row ">
            <div class="col-md-2 flex-column ">

            </div>
            <div class="col-md-8  ">
                <!-- The time line -->
                <div class="hpanel forum-box">
                    <div class="panel-heading">
                        <div class="quesuserarticle-i"><?php echo $answers[0]['Question']['id']; ?></div>
                        <?php
                        echo $this->Form->create('Question', array("type" => 'file'));
                        if (!empty($answers[0]['Question']['title_update'])) {
                            $explode_title = explode(',,,', $answers[0]['Question']['title_update']);
                            $last = end($explode_title);
                            $titles = end(unserialize(base64_decode($last)));
                        } else {
                            $titles = $answers[0]['Question']['title'];
                        }
                        $titles = str_replace("&nbsp;", "", $titles);
                        ?>
                        <center>  
                            <?php
                            echo $this->Form->input('art_id', array('value' => $answers[0]['Question']['id'], 'type' => 'hidden', 'name' => 'art_id[]', 'div' => false, 'label' => false));
                            echo $this->Form->input('art_title', array('value' => strip_tags($titles), 'class' => 'calc', 'name' => 'art_title[]', 'div' => false, 'label' => false));
                            ?>

                            <br class="clear">
                            <br class="clear">
                       <?php echo $this->Form->input('image_title', array('id'=>'FileImage1','type' => 'file','name' => 'image_title[]', 'label' => false, 'div' => false)); ?>                    
                        </center>
                    </div>

                    <?php
                    $i = 1;
                    foreach ($answers as $answer) {
                        if (!empty($answer['Answer']['title_update'])) {
                            $explode_title = explode(',,,', $answer['Answer']['title_update']);
                            $last = end($explode_title);

                            $title = end(unserialize(base64_decode($last)));
                        } else {
                            $title = $answer['Answer']['title'];
                        }
                        if (!empty($answer['Answer']['body_update'])) {
                            $explode_body = explode(',,,', $answer['Answer']['body_update']);
                            $last = end($explode_body);
                            $body = end(unserialize(base64_decode($last)));
                        } else {
                            $body = $answer['Answer']['body'];
                        }
                        ?>
                        <div class="hpanel hblue">
                            <div class="panel-heading hbuilt">
                                <b class="left"><?php echo $i . " )  "; ?> </b>
                                <?php
                                echo $this->Form->input('title', array('value' => $answer['Answer']['id'], 'type' => 'hidden', 'name' => 'id[]', 'div' => false, 'label' => false));
                                ?>
                                <?php
                                echo $this->Form->input('title', array('value' => $title, 'class' => 'calc', 'name' => 'title[]', 'div' => false, 'label' => false));
                                ?>
                            </div>
                            <br class="clear">
                            <div class="panel-body" >
                                <?php if ($answer['Answer']['image'] != NULL) { ?>

                                    <img id='profile_img' src="<?php echo $this->webroot . 'question/' . $answers[0]['Question']['id'] . '/' . $answer['Answer']['image']; ?>" alt="..." class="img-thumbnail">
                                <?php } ?>
                                <?php
                                echo $this->Form->textarea('body', array('value' => $body, 'class' => 'QuestionBody', 'name' => 'body[]', 'div' => false, 'label' => false));
                                ?>                                


                            </div>
                            <div class="panel-footer panel-footer-status">
                                <div class="counter"></div><br class="clear">
                                <a  href="<?php echo Router::url(array('controller' => 'articles',
                            'action' => 'history', $answer['Answer']['id']))
                                ?>" class="btn iframe-edit btn-main right">Show Edit History
                                </a>
                                <br class="clear"></div>


                        </div>
                        <?php
                        $i++;
                    }
                    ?>
                    <div class="hpanel hblue">
                        <div class="panel-heading hbuilt">
                            <b class="left">Point <?php echo (count($answers) + 1) . " )  "; ?> </b>
                            <?php
                            echo $this->Form->input('title', array('class' => 'calc', 'name' => 'title_new[]', 'div' => false, 'label' => false));
                            ?>
                        </div>
                        <br class="clear">
                        <div class="panel-body" >
                            <?php
                            echo $this->Form->textarea('body', array('class' => 'QuestionBody', 'name' => 'body_new[]', 'div' => false, 'label' => false));

                            echo "<br class='clear'>" . $this->Form->input('images', array('id' => 'FileImage1', 'type' => 'file', 'name' => 'image_new[]', 'label' => false, 'div' => false));
                            ?><br class="clear"> 

                        </div>

                        <div class="panel-footer panel-footer-status">
                            <div class="counter">300 characters left</div><br class="clear">

                            <br class="clear"></div>

                    </div>
                    <br class="clear">


                </div>
                <div step="<?php echo (count($answers) + 1); ?>" class="add_new btn btn-main right">Add another point</div><br class="clear">
                <div class="hpanel hblue">
                    <div class="panel-heading hbuilt">
                        <b class="left">Add Reference</b>
                    </div>
                    <br class="clear">
                    <div class="panel-body panel-ref" >
                        <b class="left"> 1)</b> <br>
   <div class='col-md-3 col-xs-3'><?php echo $this->Form->input('text', array('placeholder' => 'Reference name.. . ','class' => 'Questionref', 'name' => 'ref_name[]', 'div' => false, 'label' => false)); ?></div>
   <div class='col-md-8 col-xs-8'><?php echo $this->Form->input('text', array('placeholder' => 'Reference url.. . ','class' => 'Questionref', 'name' => 'ref[]', 'div' => false, 'label' => false)); ?></div><br class="clear">
                        
                    </div>
                    <br class="clear"><div stepref='1' class='btn btn_ref'><span class="fa fa-plus"></span></div>
                </div> 
                <div class="right">
                    <a class='btn btn-always-blue ' href="<?php echo Router::url(array('controller' => 'articles', 'action' => 'view', $answers[0]['Question']['slug'])); ?>">
                        <span class="fa fa-refresh">Cancel</span></a>
                        <?php
                        echo $this->Form->submit('Save changes', array('value' => __('Create Speeli article'), 'id' => 'login', 'class' => array('btn', ' btn-always'), 'div' => false));
                        echo $this->Form->end();
                        ?>
                </div>
            </div><!-- /.col -->


        </div><!-- /.row -->


    </div>
<?php
} else {
    
}
?>
<?php
echo $this->Html->script(array('jquery.nicefileinput.min', 'jquery.colorbox-min'));
?>
<script>
    $('document').ready(function () {
        $(".iframe-edit").colorbox({opacity: '0.5', width: '50%', minHeight: '50%'});

        $(document).ready(function () {
            // your code...
            $("input[type=file]").nicefileinput();
        });
        $('.add_new').click(function () {
            console.log('dass');
            var step_number = parseInt($(this).attr('step'));
            step_number++;
            $(this).attr('step', step_number);
            $('.forum-box').append(
                    ' \n\
                    <div class="hpanel hblue">\n\
                        <div class="panel-heading hbuilt">\n\
                              <b class="left">' + step_number + ' )</b> \n\
<?php
echo $this->Form->input('title', array('placeholder' => 'enter point header .. . ', 'class' => 'calc', 'name' => 'title_new[]', 'div' => false, 'label' => false));
?></div><br class="clear"> \n\
                        <div class="panel-body"><?php
echo $this->Form->textarea('body', array('placeholder' => 'Descripte your point .. . ', 'class' => 'QuestionBody', 'name' => 'body_new[]', 'label' => false)) . '<div class="panel-footer panel-footer-status"><div class="counter">300 characters left</div><br class="clear"></div></div>';
echo $this->Form->input('image', array('type' => 'file', 'class' => 'right', 'name' => 'image_new[]', 'label' => false));
?><br class="clear"> \n\
</div>\n\
                  \n\
                  </div>');

        });
          $('.btn_ref').click(function () {
            
            var step_number = parseInt($(this).attr('stepref'));
            step_number++;
            $(this).attr('stepref', step_number);
            $('.panel-ref').append(
                    '\n\
                              <b class="left">' + step_number + ' )</b><br class="clear"><div class="col-md-3 col-xs-3"> \n\
<?php
echo $this->Form->input('title', array('placeholder' => 'Reference name.. . ', 'class' => 'calc', 'name' => 'ref_name[]', 'div' => false, 'label' => false));?></div><div class="col-md-8 col-xs-8"><?php
echo  $this->Form->input('title', array('placeholder' => 'Reference url .. . ', 'class' => 'calc', 'name' => 'ref[]', 'div' => false, 'label' => false));?></div><br class="clear">');

        });
        $('body').undelegate('.QuestionBody', 'keyup').delegate('.QuestionBody', 'keyup', function (e) {
            var max = 300;
            var len = $(this).val().length;
            if (len >= max) {
                $('.counter').text(' you have reached the limit');
                $('.counter').css({color: 'red'});
            } else {
                var char = max - len;
                $('.counter').text(char + ' characters left');
                $('.counter').css({color: 'gray'});
            }
        });
    });
</script>