<style>
    .clear{
        clear:both;
    }
    .js-example-placeholder-multiple{
        width: 100%;
    }
    .select2{
        max-height: 10%;
    }
    
</style>
    <?php
    if(!empty($questions)){
?>
<br class="clear">
<div>
    <?php
        echo "<br class='clear'>". $this->Form->input('tags',array('style'=>array('width'=>'50%'),"multiple" => "true",'class'=>array('js-example-placeholder-multiple'),'type'=>'select','options'=>$categories,'label'=>false,'div'=>false))."<br class='clear'>";
?>
</div>
    <?php }else{ 
        if(!empty($categories)){ ?>
       <br class="clear">
<div>
    
    <?php
    
     echo "<br class='clear'>".$this->Form->input('tags',array('style'=>array('width'=>'50%'),"multiple" => "true",'class'=>array('js-example-placeholder-multiple'),'type'=>'select','options'=>$categories,'label'=>false,'div'=>false))."<br class='clear'>";
?>
</div> 
 <?php    } } ?>

    