

<div class="suggest row col-md-4">
<?php 
if(!empty($categories)){
foreach($categories as $category){ ?>

    <div class="btn btn-default suggest-items col-md-12" ques-cat-id="<?php echo  $category['Category']['id']?>"><?php ?><?php echo  $category['Category']['name'];?></div><br class="clear">

<?php } } ?>  
        <div class="add-new-cat btn cdivck btn-main right">Create your new tags</div>                 
</div>
<br class="clear">
<script>
    $(document).ready(function(){

    
$('.add-new-cat').click(function(){
             var add_new_cat = $('.new-cat-value').val();
             add_new_cat.replace(/ {2,}/g, '');
         $('.new-cat-value').val(' ');     
        console.log(add_new_cat);
             $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'articles', 'action' => 'add_new_cat')); ?>",
                data: {add_new_cat: add_new_cat}, // outer quotes removed
                cache: false,
                success: function (response, status) {
                  $('.new_cat_result').append("<div class='col-md-2 btn-main click'>\n\
          <input name='new[]' value="+response+" type='hidden'>"+add_new_cat+"<label class='close remove-cat'>X</label>")
                },
            });
        });
        });
</script>