<style>
    .clear{
        clear:both;
    }
</style>
<ol class="rounded-list" style="width: 100%; float:left;">
    <?php
    if(!empty($questions)){
foreach($questions as $question){ ?>
        <?php
        //Create article anyway
        $title=preg_replace(array('/\s{2,}/', '/[\t\n]/'), ' ', $question['Question']['title']);
        echo"<li>". $this->Html->link($title, array('action' => 'edit',$question['Question']['slug']), array('class'=>'navbar-brand','escape' => false,)
        )."</li>";
        ?>
<?php }
echo '<br class="clear"><div class="ask-new">We found articles with similar titles ,do you want to edit them instead ?</div>';
    }else{
        echo '<br class="clear"><div class="ask-new-trig check"></div>';
    }
   echo $this->Html->css(array('lists'));
?>
</ol>
<br class="clear">
<script>
    $(document).ready(function(){
        var t=$('.check').hasClass( "ask-new-trig" );
       if(t){
        setTimeout(function() {
      $('.ask-new-trig').trigger('click');
}, 300);
       }  
        $('.ask-new').click(function(){
        $('.second-step').show();
        
            var questitle = $('#Title').html();    
        questitle.replace(/ {2,}/g, '');
        questitle.replace('&nbsp;', '');
        $('#QuestionTitle').val(questitle);    
        console.log(questitle);
            $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'articles', 'action' => 'get_cat')); ?>",
                data: {questitle: questitle}, // outer quotes removed
                cache: false,
                success: function (response, status) {
                    $('.get_cat').html(response);
                },
            });
    });
    $('.ask-new-trig').click(function(){
        $('.second-step').show();
            var questitle = $('#Title').html();    
        questitle.replace(/ {2,}/g, '');
        questitle.replace('&nbsp;', '');
        $('#QuestionTitle').val(questitle);    
        console.log(questitle);
            $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'articles', 'action' => 'get_cat')); ?>",
                data: {questitle: questitle}, // outer quotes removed
                cache: false,
                success: function (response, status) {
                    $('.get_cat').html(response);
                },
            });
    });
    });
  
</script>