<style>

    .hpanel p, .hpanel h4,.hpanel h2{
          border: 1px solid rgb(121, 199, 197);
    }
</style>
<?php if (isset($answers)&&!empty($answers)){ ?>
<div class="row">


    <!-- Add the extra clearfix for only the required viewport -->
    <div  class="clearfix visible-xs-block"></div>
    <br class="clear"><br class="clear">

<hr>
    <div class="row ">
         <div class="col-md-2 flex-column ">
             
    </div>
        <div class="col-md-8  ">
            <!-- The time line -->
            <div class="hpanel forum-box">
                <div class="panel-heading">
                    <div class="quesuserarticle-i"><?php echo $answers[0]['Question']['id']; ?></div>
                    <?php
                     echo $this->Form->create('Question',array("type"=>'file')); 
                if(!empty($answers[0]['Question']['title_update'])){
                      $explode_title=  explode(',,,', $answers[0]['Question']['title_update']);
                $last=  end($explode_title);
                    $titles=end(unserialize(base64_decode($last)));
                }else{
                    $titles=$answers[0]['Question']['title'];
                }
               $titles= str_replace("&nbsp;","",$titles);
                    ?>
                    <center>  
                     <?php
                    echo $this->Form->input('art_id', array('value'=>$answers[0]['Question']['id'],'type'=>'hidden', 'name' => 'art_id[]','div'=>false, 'label' => false));
                    echo $this->Form->input('art_title', array('value'=>  strip_tags($titles),'class' => 'calc', 'name' => 'art_title[]','div'=>false, 'label' => false));
                    ?>
                         
                            <br class="clear">
                                 <br class="clear">
                               
                    </center>
                </div>
                
                <?php
                $i = 1;
                foreach ($answers as $answer) {
                if(!empty($answer['Answer']['title_update'])){
                      $explode_title=  explode(',,,', $answer['Answer']['title_update']);
                $last=  end($explode_title);
                
                    $title=end(unserialize(base64_decode($last)));
                }else{
                    $title=$answer['Answer']['title'];
                }
                if(!empty($answer['Answer']['body_update'])){
                 $explode_body=  explode(',,,', $answer['Answer']['body_update']);
                $last=  end($explode_body);
                 $body=end(unserialize(base64_decode($last)));
                }else{
                    $body=$answer['Answer']['body'];
                }
                    ?>
                    <div class="hpanel hblue">
                        <div class="panel-heading hbuilt">
                            <b class="left"><?php echo  $i . " )  "; ?> </b>
                            <?php
                            echo $this->Form->input('title', array('value'=>$answer['Answer']['id'],'type'=>'hidden','name' => 'id[]','div'=>false, 'label' => false));
                            ?>
                                <?php
                            echo $this->Form->input('title', array('value'=>$title,'class' => 'calc', 'name' => 'title[]','div'=>false, 'label' => false));
                            ?>
                        </div>
                        <br class="clear">
                        <div class="panel-body" >
                            <?php if ($answer['Answer']['image'] != NULL) { ?>

                                <img id='profile_img' src="<?php echo $this->webroot . 'question/' . $answers[0]['Question']['id'] . '/' . $answer['Answer']['image']; ?>" alt="..." class="img-thumbnail">
                            <?php } ?>
                    <?php
                    echo $this->Form->textarea('body', array('value'=>$body,'class' => 'calc', 'name' => 'body[]','div'=>false, 'label' => false));
                    ?>                                

                               
                        </div>
                        <div class="panel-footer"><a  href="<?php echo Router::url(array('controller' => 'articles',
            'action' => 'history',$answer['Answer']['id'])) ?>" class="btn iframe-edit btn-main right">Show Edit History
                            </a>
                        <br class="clear"></div>
                        

                    </div>
                    <?php
                    $i++;
                }
                ?>
                <!-- timeline time label -->
                <!-- END timeline item -->
                <!-- timeline item -->
            </div>
             <div class="right">
      <a class='btn btn-always-blue ' href="<?php echo Router::url(array('controller' => 'articles', 'action' => 'view',$answers[0]['Question']['slug'])); ?>">
                            <span class="fa fa-refresh">Cancel</span></a>
<?php
        echo $this->Form->submit('Save changes', array('value' => __('Create Speeli article'), 'id' => 'login', 'class' => 'btn btn-always  ', 'div' => false));
        echo $this->Form->end();
        ?>
      </div>
        </div><!-- /.col -->
         
     
    </div><!-- /.row -->
    
     
</div>
    <?php } else{
        
    }
?>
    <?php
echo $this->Html->script(array('jquery.nicefileinput.min','jquery.colorbox-min'));
?>
<script>
    $('document').ready(function () {
        $(".iframe-edit").colorbox({opacity:'0.5',width:'50%',minHeight:'50%'});
        $('.hpanel h4').attr('contenteditable', 'true');
        $('.hpanel p').attr('contenteditable', 'true');
        $('.hpanel h2').attr('contenteditable', 'true');
        $(document).ready(function () {
            // your code...
            $("input[type=file]").nicefileinput();
        });
           $('.edit-ques-t').on('click', function () {
            event.preventDefault();
            var quesuserarticle_i=$('.quesuserarticle-i').html();
            
     var text_change=$(this).attr('edit-article');
     console.log(text_change);
           
            $(this).attr('edit-article','f');   
                
                $(this).parent().find('h4').removeAttr('contenteditable');
                var after_edit=$(this).parent().find('h4');
        var quesuseri = $(this).parent().find('h4').attr('ques-ans-id');        
        var quesuserv = $(this).parent().find('h4').html();
                var quesuserd ='t';
                console.log(quesuseri+quesuserv+quesuserarticle_i);
                $.post("<?php echo Router::url(array('controller' => 'articles', 'action' => 'update')); ?>",
                        {   
                            quesuserarticle_i:quesuserarticle_i,
                            quesuserv: quesuserv,
                            quesuseri:quesuseri,
                            quesuserd: quesuserd
                        },
                function (data) {
                        after_edit.html(quesuserv);
                });
            
        });
    $('.edit-art-t').on('click', function () {
            event.preventDefault();
            var quesuserarticle_i=$('.quesuserarticle-i').html();
            
     var text_change=$(this).attr('edit-article');
     console.log(text_change);
           
            $(this).attr('edit-article','f');   
                
                $(this).parent().find('h2').removeAttr('contenteditable');
                var after_edit=$(this).parent().find('h2');
                
        var quesuserv = $(this).parent().find('h2').html();
                var quesuserd ='t';
                console.log(quesuserv+quesuserarticle_i);
                $.post("<?php echo Router::url(array('controller' => 'articles', 'action' => 'update_article')); ?>",
                        {   
                            quesuserarticle_i:quesuserarticle_i,
                            quesuserv: quesuserv,
                            quesuserd: quesuserd
                        },
                function (data) {
                        after_edit.html(quesuserv);
                });
            
        });
$('.edit-ques-b').on('click', function () {
            event.preventDefault();
           var text_change=$(this).attr('edit-article');
            var quesuserarticle_i=$('.quesuserarticle-i').html();
            var text_change = $(this).html();
            $(this).attr('edit-article','f');
        $(this).parent().find('p').removeAttr('contenteditable');
                var after_edit=$(this).parent().find('p');
        var quesuseri = $(this).parent().find('p').attr('ques-ans-id');        
        var quesuserv = $(this).parent().find('p').html();
                var quesuserd ='b';
                $.post("<?php echo Router::url(array('controller' => 'articles', 'action' => 'update')); ?>",
                        {   
                            quesuserarticle_i:quesuserarticle_i,
                            quesuserv: quesuserv,
                            quesuseri:quesuseri,
                            quesuserd: quesuserd
                        },
                function (data) {
                        after_edit.html(quesuserv);
                });
            
        });
   

      


    });
</script>