<style>
    .clear{
        clear:both;
    }
    .js-example-placeholder-multiple{
        width: 100%;
    }
    .select2{
        max-height: 10%;
    }
    
</style>
<div class="new_cat_result row"> 
   <?php
    if(!empty($categories)){
?>
<br class="clear">
 
     <?php foreach($categories as $category){ ?>
<div class='col-md-2 btn-main click'>
    <input name='new[]' value="<?php echo $category['Category']['id'];?>" type='hidden'><?php echo $category['Category']['name'];?><label class='close remove-cat'>X</label>
</div>
        
     <?php } ?>
 <?php } ?>
 </div>
