<style>
    .clear{
        clear:both;
    }
</style>
 <br class="clear">
                  <div class="box-body table-responsive no-padding">
                  <table class="table table-hover right">
                    <tr>
                      <th>Type</th>
                            <th>Text</th>
                            <th>Userid</th>
                            <th>Time</th>
                    </tr>
                    <?php foreach($histories as $history) { ?>
    <?php
    if(!empty($history['title_update'])){
                      $explode_title=  explode(',,,', $history['title_update']);
                      for($i=0;$i<count($explode_title);$i++){
                         $array=unserialize(base64_decode($explode_title[$i]));?>
                    <tr>
                         <td  ><?php echo 'Title';?></td>
                         <td  ><?php echo $array[2]?></td>
                        <td  ><?php echo $array[0]?></td>
                         <td  ><?php echo $array[1]?></td>
                  </tr>
                   <?php   }
                }
    ?>
    <?php
    if(!empty($history['body_update'])){
                      $explode_title=  explode(',,,', $history['body_update']);
                      for($i=0;$i<count($explode_title);$i++){
                         $array=unserialize(base64_decode($explode_title[$i]));?>
                    <tr>
                         <td  ><?php echo 'body';?></td>
                         <td  ><?php echo $array[2]?></td>
                        <td  ><?php echo $array[0]?></td>
                         <td  ><?php echo $array[1]?></td>
                  </tr>
                   <?php   }
                }
    ?>


<?php } ?>
                  </table>

