<!--
                            <div class="col-md-4 col-md-offset-3 search_header">
                                <form action="" class="search-form">
                                    <div class="form-group has-feedback">
                                        <label for="search" class="sr-only">Search</label>
                                        <input type="text" class="form-control" name="search" id="search" placeholder="Search Speeli summaries">
                                            <span class="fa fa-search form-control-feedback"></span>
                                    </div>
                                </form>
                            </div>
                            -->
                                <!--
                    <style>
                         .search_header{
                           margin-left: 10%;
                            top: 1em;
                        }
                        @media only screen and (max-width: 768px){
                            .search_header{
                                margin-left: 0%;
                                top: 5em;
                                position: absolute;
                                z-index: 999999;
                                width: 25%;
                                
                                right: 0em;
                            }

                        }
                       

                        .search-form .form-group {
                            float: right !important;
                            transition: all 0.35s, border-radius 0s;
                            width: 40px;
                            height: 40px;
                             width: 100%;
                            border-radius: 4px 25px 25px 4px;
                            background-color: #fff;
                            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
                            border-radius: 25px;
                            border: 1px solid #63b5b2;
                        }
                        .search-form .form-group input.form-control {
                            padding-right: 20px;
                            border: 0 none;
                            background: transparent;
                            box-shadow: none;
                            display:block;
                        }
                        .search-form .form-group input.form-control::-webkit-input-placeholder {
                            display: none;
                        }
                        .search-form .form-group input.form-control:-moz-placeholder {
                            /* Firefox 18- */
                            display: none;
                        }
                        .search-form .form-group input.form-control::-moz-placeholder {
                            /* Firefox 19+ */
                            display: none;
                        }
                        .search-form .form-group input.form-control:-ms-input-placeholder {
                            display: none;
                        }
                        .search-form .form-group:hover,
                        .search-form .form-group.hover {
                            width: 100%;
                            border-radius: 4px 25px 25px 4px;
                        }
                        .search-form .form-group span.form-control-feedback {
                            position: absolute;
                            top:0;
                            right: 0.1em;

                            width: 40px;
                            height: 40px;
                            line-height: 40px;

                        }

                    </style>
                    -->