

<div class="suggest row col-md-4 col-xs-12">
    <?php
    if (!empty($categories)) {
        foreach ($categories as $category) {
            ?>
            <div class="btn btn-default suggest-items col-md-12" ques-cat-id="<?php echo $category['Category']['id'] ?>"><?php ?>
                <?php echo $category['Category']['name']; ?>
            </div>
            <br class="clear">
        <?php }
    } else {
        ?>

<?php } ?>  
</div>
<br class="clear">