
 <?php
    if(!empty($logs)) {
        ?>
                  <table class="table table-hover table-responsive col-md-12 col-xs-12">
                    <tr>
                        <th class="col-xs-3">Text</th>
                        <th>User</th>
                        <th>article</th>
                        <th>Time</th>
                    </tr>
                    <?php foreach($logs as $log) { ?>
    <?php
    if(!empty($log)){
        if(empty($log['Log']['question'])){
            $log['Log']['question']= $log['Log']['question_slug'];
        }
        ?>
                     
                    <tr>
                         <td  ><?php echo $log['Log']['title'];?></td>
                         <td  ><?php 
                         if(!empty($log['User']['username'])){
                             echo $log['User']['username'];
                         }else{
                             echo $log['Log']['user_ip'];
                         }
                         
                         
                         ?></td>
                         <td class="col-md-4"> 
                             <?php if($log['Log']['answer_id']!=0){ ?>
                             <a  href="<?php
                                echo Router::url(array('controller' => 'articles',
                                    'action' => 'view', $log['Log']['question_slug']))
                                ?>" class="btn  btn-main "><?php echo strip_tags($log['Log']['question']).' point number : '.$log['Log']['answer_id'];?>
                                </a>     
                           <?php   }else{ ?>
                            <a  href="<?php
                                echo Router::url(array('controller' => 'articles',
                                    'action' => 'view', $log['Log']['question_slug']))
                                ?>" class="btn  btn-main "><?php echo strip_tags($log['Log']['question']).' point number : '.$log['Log']['answer_id'];?>
                                </a>
                           <?php } ?> 
                         </td>
                       
                         <td  ><?php echo $log['Log']['created'];?></td>
                  </tr>
                   <?php   
                
    ?>
   


                    <?php } } ?>
                  </table>
               
<ul class="pagination">
            <?php
                echo $this->Paginator->prev(__('prev'), array('tag' => 'li'), null, array('tag' => 'li','class' => 'disabled','disabledTag' => 'a'));
                echo $this->Paginator->numbers(array('separator' => '','currentTag' => 'a', 'currentClass' => 'active','tag' => 'li','first' => 1));
                echo $this->Paginator->next(__('next'), array('tag' => 'li','currentClass' => 'disabled'), null, array('tag' => 'li','class' => 'disabled','disabledTag' => 'a'));
            ?>
</ul>
<?php }
else {
echo "there is no logs found for this articles";    
}
?>

 