<style>
    .clear{
        clear:both;
    }
</style>
<?php 
$this->set("meta_robots", "noindex");
?>
    <div class="col-md-2 col-xs-12 ">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li speel_ques='0'  class="active update_art"><a href="#tab2default" data-toggle="tab">Question added</a></li>
                    <li speel_ques='1'  class="update_art"><a href="#tab2default" data-toggle="tab">point updated</a></li>
                    <li speel_ques='2' class='update_art' ><a href="#tab3default" data-toggle="tab">point added</a></li>
                </ul>
            </div>
        </div>

 <br class="clear">
 <div class="update_art_speeli">
                  <table class="table table-hover table-responsive col-md-12 col-xs-12">
                    <tr>
                        <th class="col-xs-3">Text</th>
                        <th>User</th>
                            
                            <th>article</th>
                            <th>Time</th>
                    </tr>
                    <?php foreach($logs as $log) { ?>
    <?php
    if(!empty($log)){ ?>
                     
                    <tr>
                         <td  ><?php echo $log['Log']['title'];?></td>
                         <td  ><?php 
                         if(!empty($log['User']['username'])){
                             echo $log['User']['username'];
                         }else{
                             echo $log['Log']['user_ip'];
                         }
                         
                         
                         ?></td>
                         <td class="col-md-4"> 
                             <?php if($log['Log']['answer_id']!=0){ ?>
                             <a  href="<?php
                                echo Router::url(array('controller' => 'articles',
                                    'action' => 'view', $log['Log']['question_slug']))
                                ?>" class="btn  btn-main "><?php echo strip_tags($log['Log']['question']).' point number : '.$log['Log']['answer_id'];?>
                                </a>     
                           <?php   }else{ ?>
                            <a  href="<?php
                                echo Router::url(array('controller' => 'articles',
                                    'action' => 'view', $log['Log']['question_slug']))
                                ?>" class="btn  btn-main "><?php echo strip_tags($log['Log']['question']).' point number : '.$log['Log']['answer_id'];?>
                                </a>
                           <?php } ?> 
                         </td>

                         <td  ><?php echo $log['Log']['created'];?></td>
                  </tr>
                   <?php   
                
    ?>
   


                    <?php } } ?>
                  </table>
   
<ul class="pagination">
            <?php
                echo $this->Paginator->prev(__('prev'), array('tag' => 'li'), null, array('tag' => 'li','class' => 'disabled','disabledTag' => 'a'));
                echo $this->Paginator->numbers(array('separator' => '','currentTag' => 'a', 'currentClass' => 'active','tag' => 'li','first' => 1));
                echo $this->Paginator->next(__('next'), array('tag' => 'li','currentClass' => 'disabled'), null, array('tag' => 'li','class' => 'disabled','disabledTag' => 'a'));
            ?>
</ul>
 </div>
 <script>
   $('body').undelegate('.update_art', 'click').delegate('.update_art', 'click', function (e) {
        event.preventDefault();
        target = $(this).attr('speel_ques');
        $.ajax({
            type: "post", // Request method: post, get
            url: "<?php echo Router::url(array('controller' => 'homes', 'action' => 'log_update')); ?>",
            data: {target: target}, // outer quotes removed
            cache: false,
            success: function (response, status) {
                $('.update_art_speeli').html(response);
            },
        });
    });
     </script>