<style>
    .speeli-color{color:#66b8b6}
</style>
<?php
if ($ads['Ads']['status'] == 1) {
    ?>
    <div class="box  col-md-4 col-xs-4 col-lg-4 float-none ">
        <div class="panel with-nav-tabs panel-default bottom-tab">
            <div class="panel-heading">
                <h3 class="text-center col-md-12 col-xs-12 no-padding no-margin" style="color:#6b6a6a;">Speeli Recommends </h3>
                <div class="clear clearfix"></div>
            </div>
            <div class="panel-body-larger">
                <div class="tab-content">
                   
                    <h3 class="text-center col-xs-12 col-md-12">
                         
                        <a id="buyrecommend" rel="nofollow" target="_blank" href="<?php echo url_encode($ads['Ads']['url']); ?>" >
                            <img data-toload="<?php echo $this->webroot . 'boxes/' . $ads['Ads']['image']; ?>" src="<?php echo $this->webroot . 'boxes/' . $ads['Ads']['image']; ?>"
                              class="img-responsive float-none data-toload speeli-color" style="display: block;max-width: 50%;width: auto;margin-bottom: 1em;">
                          <?php echo $ads['Ads']['title']; ?>
                        </a>
                    </h3>
                    <div class="clear clearfix"></div>
                </div>
            </div>
        </div>
    </div>
<?php
}?>