<style>
 

.container-contact {
    font: 16px Helvetica;
  background: rgba(26, 188, 156,1.0);
  
  overflow: hidden;
  background: rgba(255,255,255,1);
  border-radius: 5px;
}
.row{
    margin: 0
}
.first{
    margin-top:0.5em;
    margin-bottom:0.5em;
}
input:focus, input:hover, .login-form-text:hover, .login-form-text:focus {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 0px 8px rgba(146, 146, 146, 0.58);
    border: 1px solid #63B5B2;
    border-radius: 3px;
}


header {
  height: 75px;
  background: rgba(0,0,0,.05);
  line-height: 75px;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
    margin-bottom: 8px;
}
  h4 {
    margin: 0!important;
    
   color: #63B5B2;
       border-bottom: 1px solid #eee;
       padding-bottom: 0.7em;
  }


.first, .last {
width: 100% !important; 
  border: 1px solid rgba(0,0,0,.1);
  height: 2em;
  text-align: left;
}

.last {
  border-left: 0;  
}

footer {
  
  height: 49px;
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 20px;
  

  }
  

  button {
    height: 32px;
    background: rgba(231, 76, 60,1.0);
    border-radius: 5px;
    border: 0;
    margin: 7px 0;
    color: rgba(255,255,255,1);
    float: right;
    padding: 0 20px 0 20px;
    border-bottom: 3px solid rgba(192, 57, 43,1.0);
    transition: all linear .2s;
  }
    &:hover {
      background: rgba(192, 57, 43,1.0);  
    }
    
    &:focus {
       outline: none; 
    }

.first:focus, .last:focus, .email:focus, textarea:focus {
  outline: none;
  background: rgba(52, 152, 219,.1);
  color: rgba(51,51,51,.7);
}
.name,.contact,.message,.footer{
	text-align:center
	}
        #cboxLoadedContent{
            
        }
        .btn-save{
            background: #63B5B2 !important;
        }
</style>
<script>

</script>
<div class="row">
<div class='container-contact col-md-12 col-xs-12'>
    <div class="">
        <br clas="clear">
      <center>
    <h4 >Request Speeli Article</h4>
    <div class="flash success" style="display:none;">
        <h4>Thank you for sending your suggestion </h4>
    </div>
      </center>
  </div>
    <?php
    echo $this->Form->create('Request');
    ?>
    <br class="clear">
    <?php if(empty($session)){
        $text='Descripe your Requested article';
        ?>
  
    
    <?php } else{
     $name=($session['User']['name'])?$session['User']['name']:$session['User']['usernmae'];
         $text='Hi '.$name.' Could you descripe your requested article';
    } ?>
    
    <br>
  <div class='message col-md-12 col-xs-12'>
      <center><?php echo 'Tell us what you wish to see summarised on Speeli';?></center><br clas="clear">
     <?php
        echo $this->Form->textarea('title', array('autocomplete' => 'off',
        'div' => false, 'label' => false));
        ?>
  </div>
  <footer>
      <button style="background-color:#63B5B2" class="btn btn-save">Send </button>
  </footer>
    <br class="clear">
    
</div>
</div>
<script>
$(document).ready(function(){
  $('form').submit(function (e) {
    var form = this;
    
    e.preventDefault();
    setTimeout(function () {
        form.submit();
    }, 2000); // in milliseconds
    
    $(".flash").fadeIn();
});  
});
</script>