<style>
    .clear{
        clear:both;
    }
    .js-example-placeholder-multiple{
        width: 100%;
    }
    .select2{
        max-height: 10%;
    }
    
</style>

<ol class="rounded-list" style="width: 100%; float:left;">
    <?php
    $this->Paginator->options(array(
    'update' => '.input-cat',
    'evalScripts' => true,
    'before' => $this->Js->get('#loader')->effect(
        'fadeIn',
        array('buffer' => false)
    ),
    'complete' => $this->Js->get('#loader')->effect(
        'fadeOut',
        array('buffer' => false)
    ),

));
    if(!empty($questions)){
foreach($questions as $question){ ?>
        <?php
         
                        if (!empty($question['Question']['title_update'])) {
                            $explode_title = explode(',,,', $question['Question']['title_update']);
                            $last = end($explode_title);
                            $title = end(unserialize(base64_decode($last)));
                        } else {
                            $title = $question['Question']['title'];
                        }
                        
        //Create article anyway
        $title=preg_replace(array('/\s{2,}/', '/[\t\n]/'), ' ', $title);
        echo"<li>". $this->Html->link($title, array('controller'=>'articles','action' => 'view',$question['Question']['slug']), array('class'=>'navbar-brand','escape' => false,)
        )."</li>";
        ?>
<?php }
    }else{
        echo '<br class="clear"><div class="ask-new">No Speeli articles found</div>';
    }
   echo $this->Html->css(array('lists'));
?>
    
</ol>
<br class="clear">
<?php
if($this->Paginator->params()['nextPage']==true){
        echo $this->Paginator->next('Show more results',array('limit'=>'6'));
}
    
echo $this->Js->writeBuffer();
        ?>