<style>
    .clear{
        clear:both;
    }
    .actions{
        cursor: pointer;
    }
</style>
<?php 
$this->set("meta_robots", "noindex");
?>
 <br class="clear">
                  <div class="box-body table-responsive no-padding">
                      <div style="text-align: center; display: none;" class="success">Reversed successed</div>
                  <table class="table table-hover right">
                    <tr>
                            <th>Type</th>
                            <th>Text</th>
                            <th>Userid</th>
                            <th>Time</th>
                            <th>Actions</th>
                            <?php  $user = $this->Session->read('user_quesli');
                            if($user['User']['admin']==1){
                                echo '<th>Admin</th>';
                            }
                            ?>
                    </tr>
                    <?php foreach($histories as $history) { ?>
    <?php
    if(!empty($history['title_update'])){
                      $explode_title=  explode(',,,', $history['title_update']);
                      for($i=0;$i<count($explode_title);$i++){
                         $array=unserialize(base64_decode($explode_title[$i]));?>
                    <tr>
                         <td  type="t" ><?php echo 'Title';?></td>
                         <td art_cont="<?php echo $array[2] ?>" ><?php echo $array[2]?></td>
                        <td  ><?php echo $array[0]?></td>
                         <td  ><?php echo $array[1]?></td>
                           <td class="actions" speel_type="0" speel_ans="<?php echo $history['id'] ?>"  action="<?php echo $i; ?>"  ><?php echo 'Reverse'?></td>
                          <?php  $user = $this->Session->read('user_quesli');
                            if($user['User']['admin']==1){
                                echo '<th>Admin</th>';
                            }
                            ?>
                  </tr>
                   <?php   }
                }
    ?>
    <?php
    if(!empty($history['body_update'])){
                      $explode_title=  explode(',,,', $history['body_update']);
                      for($i=0;$i<count($explode_title);$i++){
                         $array=unserialize(base64_decode($explode_title[$i]));?>
                    <tr>
                         <td  ><?php echo 'body';?></td>
                         <td  ><?php echo $array[2]?></td>
                        <td  ><?php echo $array[0]?></td>
                         <td  ><?php echo $array[1]?></td>
                         <td class="actions" speel_type="1" speel_ans="<?php echo $history['id'] ?>"  action="<?php echo $i; ?>"  ><?php echo 'Reverse'?></td>
                  </tr>
                   <?php   }
                }
    ?>


<?php } ?>
                  </table>
                  </div>
                      <script>
                          $(document).ready(function () {
            $('.actions').click(function () {
                console.log('das');
            var action = $(this).attr('action');
            var speel_ans = $(this).attr('speel_ans');
            var speel_type = $(this).attr('speel_type');
        
            $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'articles', 'action' => 'reverse')); ?>",
                data: {speel_type:speel_type,speel_ans: speel_ans,action:action}, // outer quotes removed
                cache: false,
                success: function (response, status) {      
                    $('.success').fadeIn();
                    $('.success').delay(1000).fadeOut();
                },
            });
        });
                          });
                          </script>