
             

<div class="suggest row col-md-4">
    <?php
    if (!empty($categories)) {
        foreach ($categories as $category) {
            ?>

            <div class="btn btn-default suggest-items col-md-12" ques-cat-id="<?php echo $category['Category']['id'] ?>"><?php ?><?php echo $category['Category']['name']; ?></div><br class="clear">

    <?php }
} ?>  
    <div class="add-new-cat btn cdivck btn-main right">Create your new tags</div>                 
</div>
<br class="clear">
<script>
    $(document).ready(function () {

    });
</script>