<?php foreach ($main_categories as $key => $main_category) { ?>
    <li>
        <a class="cat_link" cat="<?php echo trim($main_category); ?>" href="<?php echo Router::url(array('controller'=>'categories','action'=>'category',trim($main_category)));?>">
                                    <?php echo $main_category ?>
                                </a>
    </li>
<?php } ?>