
.container::before,.container::after { display: table; content: " "; }
.pi-navigation .navlist { text-align: center; }
.pi-navigation {position: relative;bottom: 0px;left: 0px;width: 100%;background-color: #63b5b2;z-index: 9999;height: 45px;transform: translateZ(0px);border-top: 1px solid #eee;/* border-bottom: 1px solid #eee; */}
.pi-navigation .container { height: 100%; }
.pi-navigation .navlist li a {display: inline-block;font-family: inherit;font-size: 15px;color: white;/* text-transform: uppercase; *//* border-right: 1px solid white; */line-height: 44px;padding-right: 1em;}
.navlist { position: relative; font-size: 0px; list-style: none; padding: 0px; margin-bottom: 0px; }
.navlist > li.menu-item-has-children.item-plus > a { position: relative; }
.navlist > li.menu-item-has-children.item-plus > a::after,.navlist > li > ul > li.menu-item-has-children.item-plus > a::after { content: "+"; display: inline-block; margin-left: 4px; }
.navlist > li > .sub-menu { transform: translateY(10px); }
.navlist li {position: relative;display: inline-block;/* margin-left: 20px; *//* border-left: 1px solid white; *//* margin-right: 20px; */padding: 0px 14px;margin-right: 0;}
.navlist li a {display: inline-block;font-family: Montserrat, sans-serif;font-size: 10px;color: #aaa;/* text-transform: uppercase; */line-height: 40px;}
.navlist li:first-child {margin-left: 0px;}
.navlist li .sub-menu { position: absolute; background-color: #fefefe; width: 190px; padding: 0px; list-style: none; left: -15px; top: 97%; border: 1px solid #f3f3f3; opacity: 0; visibility: hidden; transition: all 0.3s ease; }
.navlist li .sub-menu li { display: block; margin: 0px; }
.navlist li .sub-menu li a { display: block; padding: 0px 15px; border-bottom: 1px solid #f3f3f3; line-height: 40px; text-align: left; }
.navlist > li > .sub-menu > li:last-child > a,.navlist > li > .sub-menu > li > .sub-menu > li:last-child > a { border: 0px; }
.navlist li .sub-menu .sub-menu { left: 100%; top: -1px; }
.navlist li.current-menu-parent > a,.navlist li:hover > a {color: #797777;}

/*stylesheet 10/10 | inline*/

/*stylesheet 4/10 | https://www.blogger.com/static/v1/widgets/897134159-css_bundle_v2.css*/
.post,.widget { position: relative; min-height: 0px; }
.section { margin: 0px 15px; }
.widget { margin: 30px 0px; }
.section:first-child .widget:first-child { margin-top: 0px; }
.section:last-child .widget:last-child { margin-bottom: 0px; }
a img { border: none; position: relative; }
h2 { margin: 0px; position: relative; }
.widget { line-height: 1.4; }
.widget ul { padding: 0px 0px 0px 1.25em; margin: 0px; line-height: 1.2; }
.widget li { padding: 0.25em 0px; margin: 0px; text-indent: 0px; }
.item-control { display: none; }
.item-control a { text-decoration: none !important; }
.widget-item-control { float: right; height: 20px; margin-top: -20px; position: relative; z-index: 10; }
.widget-item-control a { opacity: 0.5; }
.widget-item-control a:hover { opacity: 1; }
.widget .widget-item-control a img { border: none; background: none; box-shadow: none; }
.post-body { width: 100%; }
.content { position: relative; word-wrap: break-word; }
article { display: block; }
div.clear { clear: both; }
.label-size-1 { font-size: 80%; opacity: 0.8; }
.label-size-2 { font-size: 90%; opacity: 0.9; }
.label-size-3 { font-size: 100%; }
.label-size-4 { font-size: 120%; }
.label-size-5 { font-size: 160%; }
.cloud-label-widget-content { text-align: justify; }
.label-size { line-height: 1.2; }
.quickedit { cursor: pointer; }
.PopularPosts .item-thumbnail { float: left; margin: 0px 5px 5px 0px; }
.PopularPosts .widget-content ul li { padding: 0.7em 0px; }
.PopularPosts img { padding-right: 0.4em; }
.PopularPosts .item-title { padding-bottom: 0.2em; }
.container::after { clear: both; content: ""; display: table; }
#blog-pager { margin: 1em 0px; text-align: center; overflow: hidden; }

/*stylesheet 5/10 | https://www.blogger.com/dyn-css/authorization.css?targetBlogID=8716316713512045313&zx=4ad3665f-cde4-49ce-bba0-6c9070a9ebc2*/

/*stylesheet 6/10 | inline*/

/*stylesheet 7/10 | inline*/

/*stylesheet 8/10 | inline*/
* { box-sizing: border-box; }
a { outline: none; }
h2 { margin-top: 20px; margin-bottom: 10px; }
a:hover { text-decoration: none; }
a {color: #63b5b2;text-decoration: none;transition: all 0.3s ease;letter-spacing: 0.02em;font-weight: bold;}
a:hover { color: #000; }
img { max-width: 100%; height: auto; vertical-align: middle; border: 0px; }
p { line-height: 1.8em; letter-spacing: 0.02em; }
ul li { letter-spacing: 0.02em; }

h2 { font-family: Montserrat, sans-serif; font-weight: 700; font-size: 30px; color: #484848; line-height: 1.4em; letter-spacing: 0.02em; }
h2 a { color: inherit; }
.section,.widget { margin: 0px; padding: 0px; }
.col-md-3,.col-md-4,.col-md-9 { float: left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-md-9 { width: 67%; }
.clearfix::after,.container::after,.row::after { clear: both; }
.clearfix::before,.clearfix::after,.container::before,.container::after,.row::before,.row::after { display: table; content: " "; }
.blog-content {background-color: white;padding-bottom: 50px;margin: 0;padding: 0;position: relative;width: 100%;}
.blog-content .content { margin-bottom: 30px; }
.blog-content .content .post-wrapper::after { content: ""; display: table; clear: both; }
.blog-content .post { position: relative; background-color: #fff; margin-bottom: 10px; }
.blog-content .post::after { content: ""; display: table; clear: both; }
.blog-content .post .post-media {position: relative;overflow: hidden;max-height: 17em; height: 17em}
.blog-content .post .post-media .image-wrap { display: block; }
.blog-content .post .post-media img { width: 100%; }
.blog-content .post .post-meta .post-date { background-color: #fff; width: 60px; text-align: center; padding: 0px 7px; font-size: 0px; margin-bottom: 10px; border: 1px solid #e3e3e3; }
.blog-content .post .post-meta .post-date .year { display: block; font-family: Montserrat, sans-serif; font-weight: 400; font-size: 18px; color: #707070; padding: 10px 0px 6px; border-bottom: 2px solid #707070; line-height: 1.2em; }
.blog-content .post .post-meta .post-date .month,.blog-content .post .post-meta .post-date .day { display: inline-block; font-family: Montserrat, sans-serif; font-weight: 400; font-size: 10px; color: #707070; text-transform: uppercase; padding: 8px 0px 10px; letter-spacing: 0px; white-space: nowrap; }
.blog-content .post .post-meta .post-date .day::before { content: "/"; }
.blog-content .post .post-meta .post-comment { background-color: #fff; width: 60px; text-align: center; padding: 4px 8px; font-size: 0px; margin-bottom: 10px; border: 1px solid #e3e3e3; }
.blog-content .post .post-meta .post-comment .fa { display: block; font-size: 18px; color: #707070; padding: 10px 0px; border-bottom: 2px solid #707070; }
.blog-content .post .post-meta .post-comment a { display: inline-block; font-family: Montserrat, sans-serif; font-weight: 400; font-size: 10px; color: #707070; text-transform: uppercase; padding: 8px 0px 6px; }
.blog-content .post .post-meta .post-comment a:hover {  }
.blog-content .post .post-cat { position: absolute; display: block; font-family: Montserrat, sans-serif; font-size: 10px; text-transform: uppercase; top: 5px; left: 5px; z-index: 999; transform: translateY(-100%); transition: all 0.3s ease; }
.blog-content .post .post-cat a { display: inline-block; color: #fff; padding: 4px 8px; background-color: #e15d5d; margin: 5px; }
.blog-content .post .post-cat a:hover { background-color: #444; }
.blog-content .post .post-body { position: relative; padding: 40px 30px 0px; margin-bottom: 40px; }
.blog-content .post .post-body::after { content: ""; display: table; clear: both; }
.blog-content .post .post-body .post-author {margin-bottom: 0;padding: 0px 25px;background: white;}
.blog-content .post .post-body .post-author .image-thumb { width: 32px; height: 32px; overflow: hidden; border-radius: 50%; display: inline-block; vertical-align: middle; margin-right: 5px; }
.blog-content .post .post-body .post-author .image-thumb img { width: 100%; }
.blog-content .post .post-body .post-author .name-author { display: inline-block; vertical-align: middle; font-family: Montserrat, sans-serif; font-size: 10px; color: #484848; text-transform: uppercase; }
.blog-content .post .post-body .post-author .name-author cite { transition: all 0.3s ease; }
.blog-content .post .post-body .post-author .name-author::before { content: "// "; }
.blog-content .post .post-body .post-title h2 {font-size: 1.1em;color: #484848;text-transform: uppercase;margin-top: 0px;padding: 10px 25px;}
.blog-content .post .post-body .post-title h2 a { display: block; color: inherit; }
.blog-content .post .post-body .post-title h2 a:hover { color: #e15d5d; }
.blog-content .post .post-body .post-entry { margin-top: 20px; line-height: 1.8em; letter-spacing: 0.02em; padding: 0px 25px; }
.blog-content .post:hover .post-cat { transform: translateY(0px); }
.blog-pager { display: block; overflow: hidden; margin-top: 0px; margin-bottom: 10px; padding: 20px 30px 10px; }
.blog-pager a { display: inline-block; font-family: Montserrat, sans-serif; font-size: 14px; color: #e15d5d; text-transform: uppercase; }
.blog-pager a:hover { color: #535353; }
.blog-grid .content { margin-top: 50px; }
.blog-grid .post-wrapper { margin-left: -15px; margin-right: -15px; }
.blog-grid .post {margin-bottom: 30px;border-radius: 4px;box-shadow: rgba(0, 0, 0, 0.121569) 0px 2px 2px 0px;}
.blog-grid .post .post-meta { top: 10px; transition: all 0.3s ease; opacity: 0; }
.blog-grid .post .post-body {padding: 15px 0px 0px;margin-bottom: 8px;margin-top: -58px;background-color: rgba(246, 246, 246, 0.42);}
.sidebar { margin-top: 50px; max-width: 480px; margin-left: auto; margin-right: auto; }
#sidebar .widget { background: #fff; box-shadow: rgba(0, 0, 0, 0.00784314) 0px 0px 0px 1px, rgba(0, 0, 0, 0.027451) 0px 3px 5px; border-bottom: 1px solid rgba(0, 0, 0, 0.0980392); margin-bottom: 30px; padding: 25px; }
#sidebar h2 span { border-bottom: 3px solid #e74b3c; padding-bottom: 5px; }
.widget { margin-bottom: 50px; }
.widget > h2 { position: relative; font-weight: 400; font-size: 14px; text-transform: uppercase; color: #707070; padding: 0px 15px; line-height: 40px; margin-top: 0px; text-align: center; margin-bottom: 13px; }
.widget ul { list-style: none; padding: 0px; }
.Label .list-label-widget-content ul li { font-size: 14px; color: #848484; border-bottom: 1px solid #ededed; padding: 0px; }
.Label .list-label-widget-content ul li a { display: inline-block; color: inherit; padding-top: 15px; padding-bottom: 15px; }
.Label .list-label-widget-content ul li span { float: right; padding-top: 15px; padding-bottom: 15px; }
.Label .list-label-widget-content ul li span { padding-top: 10px; padding-bottom: 10px; }
.Label .cloud-label-widget-content .label-size { font-size: 100%; float: left; }
.Label .cloud-label-widget-content .label-size a { display: inline-block; margin: 2px; font-family: Montserrat, sans-serif; font-size: 10px; text-transform: uppercase; color: #888; background-color: #fff; padding: 5px 8px; letter-spacing: 0.03em; border: 3px double #eee; }
.Label .cloud-label-widget-content .label-size a:hover { border-color: #e15d5d; background-color: #e15d5d; color: #fff; }
.col-md-4 { padding: 0px 15px !important; }
#blog-pager { margin: 20px 0px; }
.showpageArea { display: inline-block; padding: 0px 10px; position: relative; z-index: 2; }
.showpageArea span { margin-bottom: 10px; }
.showpagePoint { font-weight: bold; text-decoration: none; display: inline-block; background: #fff; color: #919394; border: 1px solid #d1d7dc; line-height: 1; padding: 10px 14px; margin: 3px 4px; transition: all 0.3s ease; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 3px; }
.showpageNum a { font-weight: bold; text-decoration: none; display: inline-block; background: #fff; color: #919394; border: 1px solid #d1d7dc; line-height: 1; padding: 10px 14px; margin: 3px 4px; transition: all 0.3s ease; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 3px; }
.showpage a { font-weight: bold; text-decoration: none; display: inline-block; background: #fff; color: #919394; border: 1px solid #d1d7dc; line-height: 1; padding: 10px 14px; margin: 3px 4px; transition: all 0.3s ease; border-radius: 2px; box-shadow: rgba(0, 0, 0, 0.0392157) 0px 1px 3px; }
.showpage a:hover,.showpageNum a:hover { border-color: #a4a4a4; }
.postfooter { padding: 0px 20px 20px; font-size: 18px; background: #f7f8f9; }
.traingle { content: ""; position: relative; z-index: 7; transition: all 0.3s ease; width: 0px; margin-top: -19px; border-style: solid; border-width: 0px 0px 20px 250px; float: right; margin-bottom: -1px; border-color: transparent transparent #f7f8f9; }
.postfooter .read { position: relative; z-index: 9; float: right; font-size: 12px; padding: 10px 26px 10px 32px; color: #f2f2f2; margin-top: 5px; background: #555657; font-weight: 700; text-transform: uppercase; transition: all 0.3s ease; letter-spacing: 1px; font-family: Arial, sans-serif; margin-right: -29px; border-right: 8px solid rgba(0, 0, 0, 0.14902); border-radius: 0px 3px 0px 0px; transform: perspective(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
.postfooter .read:hover { margin-right: -27px; transform: perspective(120px) rotateX(0deg) rotateY(-32deg) rotateZ(0deg); }
.postfooter .read::before { content: ""; position: absolute; margin-left: -33px; margin-top: -14px; width: 0px; height: 0px; border-style: solid; border-width: 44px 0px 0px 15px; border-color: transparent transparent transparent #f7f8f9; }
.postfooter .read::after { content: ""; position: absolute; right: 0px; bottom: 0px; margin-right: -7px; margin-bottom: -12px; width: 0px; height: 0px; border-style: solid; border-width: 12px 8px 0px 0px; border-color: #afafaf transparent transparent; }
.postfooter .read:hover { opacity: 0.6; }
.socialpost .icons { display: inline-block; padding-top: 4px; }
.socialpost a .texts { width: 67px; display: inline-block; transition: all 200ms ease-out; position: absolute; text-align: center; margin-left: -47px; margin-top: -35px; font-size: 12px; background: rgba(99,181,178,0.7); border-radius: 2px; color: #fff; opacity: 0; }
.socialpost a:hover .texts { z-index: 999; opacity: 1; }
.linker { background: #fff; color: #aaa; padding: 8px 10px 8px 20px; margin-top: 0px; border-radius: 0px 0px 4px 4px; position: relative; }
.linker::before { content: ""; position: absolute; z-index: 99; margin-left: -20px; margin-top: -28px; width: 0px; height: 0px; border-style: solid; border-width: 20px 0px 0px 240px; border-color: transparent transparent transparent #fff; }
.linker a { color: #fff; }
.linker .buttonlightbox { border: 1px solid #e7e7e7; line-height: 14px; margin-right: 10px; font-family: Verdana, Arial, sans-serif; text-transform: capitalize; border-radius: 70px; float: right; top: 8px; right: 72px; width: 28px; height: 28px; padding: 6px; background: #fefefe; color: #656565; text-align: center; }
.linker .buttonlightbox:hover { background: #f2f2f2; color: #989898; }
.linker .forwards { float: right; padding: 0px 5px 0px 8px; background: #e1382d; color: #fff; border-radius: 100%; line-height: 28px; font-family: Verdana, Arial, sans-serif; font-size: 13px; width: 28px; }
.linker .forwards a:hover { opacity: 0.7; color: #fff; }
.linker .mcate { color: #bfbfbf; border: 1px solid #e7e7e7; line-height: 16px; margin-right: 10px; font-family: Verdana, Arial, sans-serif; text-transform: capitalize; border-radius: 70px; float: right; top: 8px; right: 36px; width: 28px; height: 28px; padding: 5px; background: #fefefe; }
.socialpost a i { color: #a0a0a0 !important; }
.socialpost i { font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: 0.2em; text-align: center; opacity: 0.8; font-variant-ligatures: normal; font-variant-caps: normal; text-transform: none; line-height: 1em; margin-left: 0.2em; }
.socialpost { line-height: 28px; color: #000; float: left; margin-top: 4px; }
.linker i.fa.fa-comment { margin-right: 5px; color: #aaa; }

/*stylesheet 9/10 | inline*/
.sidebar { display: none; }
.col-md-9 { width: 100%; }
.post-media :hover .mask { right: -600px; }
.blog-content .post .post-media .image-wrap { display: block; position: relative; }
.image-wrap .mask { width: 600px; height: 303px; background: rgba(255, 255, 255, 0.0980392); display: inline-block; position: absolute; right: 350px; top: 0px; transform: skew(-45deg); transition: all 0.6s ease-in-out; }
.blog-content .post .post-meta .post-comment { background-color: rgba(0, 0, 0, 0.0784314); border: 1px solid rgba(0, 0, 0, 0.0784314); }
.blog-content .post .post-meta .post-comment .fa { color: #fff; border-bottom: 2px solid #fff; }
.blog-content .post .post-meta .post-comment a { color: #fff; }
.blog-content .post .post-meta .post-date { background-color: rgba(0, 0, 0, 0.0784314); border: 1px solid rgba(0, 0, 0, 0.0784314); }
.blog-content .post .post-meta .post-date .year { color: #fff; border-bottom: 2px solid #fff; }
.blog-content .post .post-meta .post-date .month,.blog-content .post .post-meta .post-date .day { color: #fff; }
.blog-grid .post:hover .post-meta { transform: translateX(0px); opacity: 1; right: 10px !important; }
.blog-content .post .post-meta { position: absolute; top: 0px; transform: translateX(100%); z-index: 99; right: -10px !important; }
.blog-content .post .post-meta { position: absolute; top: 10px; transform: translateX(100%); z-index: 99; right: -10px !important; }
a.fancybox i { color: #aaa; }

/*stylesheet 10/10 | inline*/

.arrow-down{
    width: 0;
    border-top: 20px solid #63b5b2;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 0;
    border-left: 50px solid transparent;
    top: 16em;
    position: absolute;
    left: 46%;
    z-index: 9999;
    }

.post-title {
    max-height: 4.2em;
    background: white;
    overflow: hidden;
}

.grid-item {height: 37em;overflow: hidden;}

.navlist li:hover {
    background: white;
    /* color: red; */
}