ul{
    list-style: none;
}
li{
    list-style: none;
}
ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol ol {
    margin: 0 0 0 2em; /* Add some left margin for inner lists */
}
.rounded-list li{
    display: block;

  float: left;
  clear: both;
  margin: 1vh;
    
}
.rounded-list a{
     position: relative;
     height: 100% !important;
  display: block;
  padding: .4em .4em .4em 2em;
  background: rgba(233, 237, 238, 0.8);
  color: #444;
  text-decoration: none;
  border-radius: .3em;
  transition: all .3s ease-out;  
}
.rounded-lists{
    position: absolute;
    left: 1em;
    text-align: center;
    top: 3.3em;
    margin-top: -1.3em;
    background: #63B5B2;
    height: 2em !important;
    width: 2.3em;
    height: 3.3em;
    line-height: 1.5em;
    border: .3em solid #fff;
    text-align: center;
    border-radius: 2em;
    transition: all 0.3s ease-out;
    color: #fff;
    font-weight: normal;
    font-family: impact;
    text-align: center;
    padding: 0.15em 0.19em 0.15em 0.14em;
    height: 2.3em!important;
}
.rounded-list a:hover{
    background: #eee;
}

.rounded-list a:hover:before{
    transform: rotate(360deg);  
}
.rounded-list a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -0.5em;
  top: 63%;
  margin-top: -1.3em;
  background: #63B5B2 ;
  height: 2em;
  width: 2em;
  line-height: 1.5em;
  border: .3em solid #fff;
  text-align: center;
  border-radius: 2em;
  transition: all .3s ease-out;
  color: #fff;
  font-weight: normal;
  font-family: impact;
}
