*{font-family:Georgia,Cambria,'Times New Roman',Times,serif;}
#profile_img{min-width:100%;}
input[type="text"]:focus,input[type="text"]:hover,.login-form-text:hover ,.login-form-text:focus{background:#ffffff;box-shadow:1px 1px 10px #00405d;}
.wrapper{background:#ffffff;box-shadow:1px 1px 10px #00405d;padding:3vh 2vw;width:90%;}
input[type="text"],.login-form-text{padding:8px;margin:3px;text-align:left;width:40%;outline:none;font-family:"gessmed", Tahoma, Geneva, sans-serif;font-size:0.8925em;color:#333333;-webkit-appearance:none;background:#FFFFFF;border:1px solid rgb(231, 231, 231);font-weight:normal;transition:0.5s ease;-moz-transition:0.5s ease;-o-transition:0.5s ease;-webkit-transition:0.5s ease;}
h1,h2,h3{margin-right:3vw;padding:1vh;}
.edit{font-family:"gessmed", Tahoma, Geneva, sans-serif;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;transition:all ease-in-out 100ms;border-radius:3px;box-shadow:0 1px 1px 0 rgba(200,200,200,0.2);display:inline-block;font-weight:500;outline:0;padding:3px 7px 4px 7px;text-align:center;text-decoration:none;cursor:pointer;background:#2b6dad;color:#fff;border:1px solid #4f5863;font-size:1vw;}
.edit:hover{box-shadow:1px 1px 5px #00405d;background:#2b6dad;}
.col-xs-14 h1,h2,h3,h4{display:inline-block;}
.question{margin:0 auto;width:80%;}
.question form{padding:2px}
.question input,.question textarea{margin:4vh auto;padding:8px;}
textarea{padding:9px;border:solid 1px #E5E5E5;outline:0;font:normal 13px/100% Verdana, Tahoma, sans-serif;width:200px;background:#FFFFFF url('bg_form.png') left top repeat-x;background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));background:-moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);box-shadow:rgba(0,0,0, 0.1) 0px 0px 8px;-moz-box-shadow:rgba(0,0,0, 0.1) 0px 0px 8px;-webkit-box-shadow:rgba(0,0,0, 0.1) 0px 0px 8px;}
textarea{width:400px;max-width:400px;height:150px;line-height:150%;}
textarea:hover,
textarea:focus{border-color:#C9C9C9;-webkit-box-shadow:rgba(0, 0, 0, 0.15) 0px 0px 8px;}
.form label{margin-left:10px;color:#999999;}
.panel-body{padding:0 15px;}
.flex-container{flex-direction:row;}
.quesuserarticle-i{opacity:0;}
.progress{display:none;}
.right{float:right;}
hr{border:0;height:1px;background-image:-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));background-image:-moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));background-image:-ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));background-image:-o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));}
.clear{clear:both;}
.btn-always-blue{background:#22A39F;}
.question_wrapper{margin:0 auto;}
.float-none{float:none;margin:0 auto;}
.hblue{background-color:#fff;padding:1em;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;margin-bottom:25px;position:relative;line-height:25px;border:1px solid #e5e5e5;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomleft:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;border-bottom-right-radius:3px;border-bottom-right-radius:3px;-moz-box-shadow:0px 2px 7px rgba(0,0,0,0.25);-webkit-box-shadow:0px 2px 7px rgba(0,0,0,0.25);box-shadow:0px 2px 7px rgba(0,0,0,0.25);-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#333333')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=180, Color='#333333');}
.hblue .panel-heading{padding:10px 15px;background-color:rgba(245, 245, 245, 0.24);border-bottom-right-radius:3px;border-bottom-left-radius:3px;}
.list-unstyled li{margin-left:1em;}
.box{width:65%;background:#FFF;margin:1em auto;padding:1em;}
.effect7{position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.effect7:before, .effect7:after{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:0;bottom:0;left:10px;right:10px;-moz-border-radius:100px/10px;border-radius:100px/10px;}
.effect7:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg);}
.effect8{position:relative;-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;}
.effect8:before, .effect8:after{content:"";position:absolute;z-index:-1;-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);box-shadow:0 0 20px rgba(0,0,0,0.8);top:10px;bottom:10px;left:0;right:0;-moz-border-radius:100px/10px;border-radius:100px/10px;}
.effect8:after{right:10px;left:auto;-webkit-transform:skew(8deg) rotate(3deg);-moz-transform:skew(8deg) rotate(3deg);-ms-transform:skew(8deg) rotate(3deg);-o-transform:skew(8deg) rotate(3deg);transform:skew(8deg) rotate(3deg);}
.panel-body-larger{padding:1em;}
 h1:first-letter,h2:first-letter,h3:first-letter,h4:first-letter,h5:first-letter,h6:first-letter,p:first-letter,a:first-letter{text-transform: capitalize;}