.examples-list dt {
  display: list-item;
  list-style: inside square;
  border-bottom: dotted #cbc2b7 1px;
  padding: 5px 0;
}
.examples-list dd {
  padding: 10px 0;
}
.examples-list dd p {
  padding: 15px;
  background: #f4f3f0;
  margin: 0;
  border-radius: 5px;
}
/*
.NFI-wrapper {}
.NFI-button {}
.NFI-button:hover {}
.NFI-filename {}
.NFI-current {}
*/
.nice {
  border: solid #22A39F 0;
  background: #fff;
  font-size: 14px;
  display: block;
  width: 100%;
  max-width: 360px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 0 2px #fff;
}
.nice:hover {
  border: solid #3BC8C2 0;
}
.nice .NFI-button {
  height: 40px;
  line-height: 40px;
  background: #C4C4C4;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  width: 40%;
  font-weight: 700;
  border-radius: 3px;
}
.nice .NFI-button:hover {
  background: #CACACA ;
}


.NFI-wrapper  input[type="text"]:focus,
.NFI-wrapper  input[type="text"]:hover,
.NFI-wrapper  .login-form-text:hover,
.NFI-wrapper  .login-form-text:focus
{
	border:0

	}

.nice .NFI-filename {
  width: 60%;
  height: 40px;
  margin: 0;
  padding: 0;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  pointer-events: none;
}
