@media only screen and (min-width:769px){.navbar .navbar-nav li i{font-size:1.4em;position:relative;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.navbar .navbar-nav li:hover i,
.navbar .navbar-nav li.active i{transform:translateY(-5px);}
.navbar .navbar-nav li span{-webkit-transition:all 0.3s ease;transition:all 0.3s ease;opacity:0;filter:alpha(opacity=0);position:absolute;top:30px;left:0;right:0;text-align:center;font-size:11px;font-family:tahoma;}
.navbar .navbar-nav li:hover span,
.navbar .navbar-nav li.active span{opacity:1;filter:alpha(opacity=100);transform:translateY(5px);}
}
@media only screen and (max-width:1200px){.site-header .profile-photo img{margin-left:-40px;}
}
@media only screen and (max-width:992px){.site-header{padding-top:50px;}
.site-header .page-description{font-size:25px;width:90%;padding:40px 0 50px;}
.profile-photo-mobile{width:200px;height:200px;margin-top:40px;border:5px solid rgba(0,0,0,0.1);border-radius:50%;}
}
@media only screen and (max-width:768px){.page-content h1{margin:70px 0;}
.section-services p{margin-bottom:40px;}
.section-web .carousel-indicators{display:none;}
.section-web .work-info{text-align:center;}
.section-featured img{max-height:30px;width:auto;}
.navbar{padding:0;min-height:0;}
.navbar-default .navbar-toggle{background-color:#FFFFFF;border: 1px solid #ddd;padding:10px 9px;border-radius:5px;margin: 5px 0px 0px;}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{background-color:#ddd;border: 1px solid #ddd;padding:10px 9px;border-radius:5px;margin: 5px 0px 0px;}
.navbar-header{padding:10px;}
.navbar-header h5{font-size:13px!important}
.navbar-default .navbar-brand{padding:0;}
.navbar-default .navbar-toggle .icon-bar{background-color:black;}
.navbar-fixed-top .navbar-collapse{max-height:none;overflow-y:hidden;background-color:#85CCCA;}
.navbar-nav{margin:0 -15px;}
.nav > li{border-bottom:1px solid rgba(0, 0, 0, 0.07);}
.nav > li:last-child{border-bottom:none;}
.navbar-default .navbar-nav > li > a{padding-top:20px;padding-bottom:20px;color:#fff;font-size:20px;font-weight:300; text-transform: none;}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{color:#333;background-color:rgb(96, 186, 183);}
.navbar-default .navbar-nav > li > a i{margin-right:20px;}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{color:#fff;background-color:rgba(255, 255, 255, 0.14);}
.nav-tabs>li a{padding: 10px 5px;font-size: 14px;}
#homeheader .left{float:none;width:100%;padding:35px 20px 0 20px;}
#homeheader .right{display:none}
#homeheader h1{margin:15px 0px 0px;font-size:25px;}
#searchbox{
	margin: 0px auto !important;
	width: 100% !important;
	position: initial !important;
}
.wrapper{padding:70px 10px 15px 10px;}
#searchbox .panel-heading.flex-container{padding:12px;}
h3.page-header.hometitle{margin:15px 0;}
.question,.panel.panel-default.add-article{width:98%!important}
h5.panel-title.text-info.article-title{margin:0em auto;}
#homeheader .left a{margin:25px auto auto;}
.box{width:98%!important;}
.panel-heading{padding: 10px 0;}
.nopadding {padding:0}
input#QuestionArtTitle.calc{font-size:16px;}
.nice{width:100%;max-width:100%;}
.NFI-button{margin:auto;float:none;}
.nice .NFI-button{float:none!important;width: 85%!important}
.nice .NFI-filename{width:100%!important;text-align:center;float:none!important;}
.row{margin:0;}
.wrapper{margin:20px auto 60px auto!important;padding:20px 0px 15px 0px!important;width:100%!important;}
#QuestionIndexForm{margin-top:0;}
ul.share-buttons{margin:5px!important;}
li.speeli-share a{width:49%!important;}
.hblue{padding:0;}
input#QuestionText.Questionref{width:100%!important;height:45px!important;margin: 5px auto!important;padding: 8px!important;}
.question input, .question textarea {
    width: 100%;
}
ul.st-steps input#QuestionTitle{
	margin: 0px auto 10px auto;
	width: 100%;
	}
.panel.panel-default.add-article {
    border: 0;
}
.panel-body.panel-ref input {
    width: 100%;
    margin: 5px auto!important;
    padding: 8px!important;
    height: 45px!important;
	}
.page-header {
    margin: 20px 0;
}
.panel-body-larger{padding:0!important;}
a.btn.btn-main-always{height:60px;line-height:60px;background-color:#000;display:none;}
a.btn.btn-main-always:hover{background-color:#262626!important;color:#fff!important;}

#homeheader{margin-top: 62px!important}

.speeli-boxes .icon1 {margin-left: 34px;}
#intro.article_wrapper .right.gray-tone{margin-top: -10px;}

.question form {
    padding: 10px;
	margin-top: 50px;
}

}
@media only screen and (max-width:480px){.site-header .page-description{font-size:20px;line-height:1.8;}
.page-content h1{font-size:20px;margin:60px 0;}
h2, .h2{font-size:20px;font-weight:400;}
p{line-height:1.8;}
.section-services p{font-size:14px;}
.section-contact a.email-link{font-size:20px;}
ul.social-media li{margin-right:10px;}
ul.social-media li i{font-size:3.5em;}
.section-contact p{font-size:14px;}
.section-about p{font-size:14px;}
.section-about .author{text-align:center;}
.section-web h2{font-size:30px;}
.section-web .page-content{padding-top:80px;}
.page-content{padding-bottom:80px;}
.section-graphics figure h2{margin-top:10%;}
.section-featured a{margin:10px;}
.accent-background{background-size:100%;}
.profile-photo-mobile{width:170px;height:170px;}
.testimonial-carousel{height:200px;}
.section-about .carousel-indicators{bottom:-10px;}
.section-featured a{display:block;border:1px solid #f4f4f4;padding:30px 30px;margin:20px 0;}
.section-featured img{max-height:none;width:auto;display:block;padding:0;margin:0 auto;max-height:50px;}
.section-featured a:hover{transform:translateY(0);}
.container-contact header{height:auto!important;border-radius: 5px}
.container-contact header h1{font-size: 21px!important;margin: 10px 0;}
.container-contact  input[type="text"] { padding: 15px 10px;margin: 5px 8px;}
.container-contact  textarea { margin: 5px auto;height: 150px;}
.container-contact  div.name ,.container-contact  div.contact ,.container-contact  div.message {text-align: center;}
.row.question{margin: 50px auto 60px auto;}
#QuestionNew{width: 100%;}
input#Title.login-form-text.flex-column{width:100%;padding: 0px 10px;}
.panel.panel-default.add-article .login-form-text {margin: 2em 0;}
}

@media only screen and (max-width:320px){}
.menu_toogle{-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);position:absolute;right:24px;z-index:999!important;top:65px;background:white;}
.menu_toogle ul li{float:none;}
.clear{clear:both;}
.fa-toggle-menu{font-size:1.5em;}