
<div class="col-md-12 right" >
    <div class="col-md-12">
        <!-- Block buttons -->
        <!-- Horizontal grouping -->
        <div class="box">
            <div class="box-body table-responsive pad">
          <div class="add_form">
		 <!-- Form -->
                  <?php echo $this->Form->create("Category",array('class'=>'form-horizontal','id'=>'add_form',"type"=>'file')); ?>
				<div>
                                    <?php echo $this->Form->input('id',array('type'=>'hidden'));?>                                                                          
				</div>
                                       <div>
                        <label>
                            <?php echo $this->Form->input('name', array('class' => 'text', 'div' => false, 'id' => 'username', 'label' => false, 'placeholder' => ' Name ')); ?>                                                                          
                        </label>
                    </div>
                    <br class="clear">
                  
                    <br class="clear">
                    <div>
                        <label>
                            <?php echo $this->Form->input('image', array('id' => 'FileImage1', 'type' => 'file', 'label' => false)); ?>                                                                          
                        </label>
                    </div>
                    <br class="clear">
				<div>
                                    <img width="150vw;" height="150vh;" src="<?php echo $this->webroot ?>categories/<?php echo date('n').DS.$this->request->data['Category']['image'];?> "> 
				</div>
				<br class="clear">
				<div>
					     ٍ<?php       echo$this->Form->end(array('label'=>__("Add",true),'class'=>'AddCatDesc'));         ?>
				</div>
				
			<!-- /Form -->
		</div>

            </div>
        </div><!-- /.box -->

    </div>
</div>