
<?php
$this->set("meta_description", "Latest Speeli articles");
$this->set("meta_robots", "noindex");
?>
            <div class="hpanel forum-box">
                <?php
                $i = 1;
                if(isset($update_title)){
            echo "<center><h3 class='page-header'>$update_title</h3></center>";        
                }
                $user = $this->Session->read('user_quesli');
                if ($user['User']['admin'] == 1) {
                    foreach ($questions as $question) {
                        ?>
                        <div class="hpanel hblue">
                            <div class="panel-heading hbuilt">
                                <h3> <a href="<?php echo Router::url(array('controller' => 'categories', 'action' => 'view', $question['Category']['slug'])); ?>"> <?php echo $question['Category']['name']; ?></a>  </h3>
                               
                            </div>
                            

                        </div>
                        <?php
                        $i++;
                    }
                } else {
                    foreach ($questions as $question) {
                            ?>
                            <div class="hpanel hblue">
                                <div class="panel-heading hbuilt">
                                    <h3> <a href="<?php echo Router::url(array('controller' => 'categories', 'action' => 'view', $question['Category']['slug'])); ?>"> <?php echo htmlspecialchars($question['Category']['name']); ?></a>  </h3>
                                    <?php echo $status; ?>
                                </div>


                            </div>
                            <?php
                            $i++;
                    }
                }
                ?>
                <!-- timeline time label -->
                <!-- END timeline item -->
                <!-- timeline item -->
            </div>
     
<script type="text/javascript">
      
            $('body').undelegate('.update_art', 'click').delegate('.update_art', 'click', function (e) {
        event.preventDefault();       
        target=$(this).attr('speel_ques');
                $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'categories', 'action' => 'updates')); ?>",
                data: {target: target}, // outer quotes removed
                cache: false,
                success: function (response, status) {
                   $('.update_art_speeli').html(response);
                },
            });
            });
          $('.check_status').on('click', function () {

        event.preventDefault();
        var questitle = $('#Title').val();
        console.log(questitle);
        $('#QuestionTitle').val(questitle);
        $.ajax({
            type: "post", // Request method: post, get
            url: "<?php echo Router::url(array('controller' => 'categories', 'action' => 'search')); ?>",
            data: {questitle: questitle}, // outer quotes removed
            cache: false,
                        beforeSend: function () {
            $("#loader").fadeIn();
                }, 
            success: function (response, status) {
                $("#loader").fadeOut();
                $('.update_art_speeli').html(response);
            },
        });

    });   
      $(document).keypress(function (event) {

        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {

            event.preventDefault();
            var questitle = $('#Title').val;
            $('#QuestionTitle').val(questitle);
            console.log(questitle);
            $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'homes', 'action' => 'search')); ?>",
                data: {questitle: questitle}, // outer quotes removed
                cache: false,
                success: function (response, status) {
                    $('.input-cat').html(response);
                },
            });
        }
    });
       
        </script>