

<div class="suggest row col-md-12">
<?php 
Configure::write('debug',0);
if(!empty($categories)){
foreach($categories as $category){ ?>

    <div class="btn btn-default suggest-items col-md-12" cat_parent="<?php echo $cat_id;?>" ques-cat-id="<?php echo  $category['Category']['id']?>"><?php ?><?php echo  $category['Category']['name'];?></div><br class="clear">

<?php } }else{ ?>

<?php } ?>  
<div cat_parent="<?php echo $cat_id;?>" class="add-new-cat btn cdivck btn-main right">Create new category</div>    
</div>
<br class="clear">
<script>
    $(document).ready(function(){
$('.add-new-cat').click(function(){
             var add_new_cat = $(this).closest('td').find('.new-cat-value').val();
             var add_new_cat_box=$(this).closest('td').find('.new-cat-value');
             btn_box=$(this);
             var cat_id=$(this).attr('cat_parent');
             console.log(add_new_cat);
             add_new_cat.replace(/ {2,}/g, '');
       
             $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'categories', 'action' => 'add_new_cat')); ?>",
                data: {add_new_cat: add_new_cat,cat_id:cat_id}, // outer quotes removed
                cache: false,
                success: function (response, status) {
                    add_new_cat_box.val(' ');
                    btn_box.hide();
                  $('.new_cat_result').append("<div class='col-md-2 btn-main click'>\n\
          <input name='new[]' value="+response+" type='hidden'>"+add_new_cat+"<label class='close remove-cat'>X</label>")
                },
            });
        });
          $('body').undelegate('.suggest-items', 'click').delegate('.suggest-items', 'click', function (e) {
                
                $('.suggest').hide();
                $('.new-cat-value').val('');
                var cat_id = $(this).attr('cat_parent');
                var add_new_cat = $(this).attr('ques-cat-id');
                var add_new_val = $(this).html();
                $.ajax({
                type: "post", // Request method: post, get
                url: "<?php echo Router::url(array('controller' => 'categories', 'action' => 'add_new_cat')); ?>",
                data: {add_new_val:add_new_val,add_new_cat: add_new_cat,cat_id:cat_id}, // outer quotes removed
                cache: false,
                success: function (response, status) {
                       },
            });
               
            });
        });
</script>