<li cat_id="<?php echo $response['cat_id']?>" art_id="<?php echo $response['art_id']?>">
    <a href="<?php echo Router::url(array('controller' => 'categories', 'action' => 'view', $response['cat_slug'])); ?>"><i class="fa fa-tag"></i><?php echo $response['cat_name']?></a><label cat_id="<?php echo $response['cat_id']?>" class='close remove-cat'>X</label></li><br>