<style>
    img:hover{
        zoom: 1.1;
    }
    img{
        transition: zoom 1s;
    }
    .left{
        float: left;
    }
    p{
        text-align: center;
font-size: 108%;
}
.right{
    float: right;
}

    
</style>
<div class="data_inner">
    <div class="container">
        <div style="text-align: center;
font-size: 1.5vw;" class="intro-text">
             <?php
        echo $this->Html->link('كلمة البداية', array('controller' => 'categories', 'action' => 'text'), array('escape' => false)
        );
        ?> 
        </div>
        <div class="left">
        <?php
        echo $this->Html->link(
                $this->Html->image('category.png'), array('controller' => 'categories', 'action' => 'data'), array('escape' => false)
        );
        ?>  
            <p>الاقسام</p>
        </div>
      
        <div class="right">
        <?php
        echo $this->Html->link(
                $this->Html->image('users.png'), array('controller' => 'users', 'action' => 'data'), array('escape' => false)
        );
        ?>
            <p>المستخدمين</p>
        </div>
    </div>
</div>