<div id="da-slider" class="da-slider">
                                <?php foreach($categories as $category){ ?>
                                <div class="da-slide">
					<h2><?php echo $category['Category']['title']; ?></h2>
					<p><?php echo $category['Category']['description']; ?></p>
                                        <?php
                                        echo $this->Html->link('اطلبة الأن', array('controller'=>'products','action'=>'index',$category['Category']['id']), array('class'=>'da-link','escape' => false)
                                        );
                                        ?>

					<div class="da-img">
                                             <img  src="<?php echo $this->webroot ?>files/category/<?php echo $category['Category']['image'];?> ">
                                        </div>
				</div>    
                                <?php } ?>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
   <div class="data_welcome">
            <div class="container">
            <h2> <br>
<span> <?php echo $data['Data']['title']?> </span></h2>
            </div>
       <p><?php echo $data['Data']['description'];?></p>
            </div><!-- InstanceEndEditable -->
 
 